<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= t('app_name') %> | <%= t('meta_title') %></title>
  <link rel="icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-secondary text-black-400 font-sans">
  <%= render 'shared/flash' %>
  <%= render 'shared/header' %>
  <div class="min-h-screen">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</body>

